---
import "../styles/global.css";
---
<!doctype html>
<html lang="en" data-theme="light" class="h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<div class="navbar-center">
      <ul class="menu menu-horizontal px-1">
        <li><a href="/" class="btn btn-ghost">Home</a></li>
        <li><a href="/generator" class="btn btn-ghost">Generator</a></li>
        <li><a href="/my-svg" class="btn btn-ghost">My SVGs</a></li>
      </ul>
    </div>
	<body class="h-full">
		<div class="h-full flex flex-col min-h-0">
			<div class="flex-1 min-h-0">
				<slot />
			</div>
		</div>
	</body>
</html>